@media (max-width: 1400px) {
  .footer {
    &__column {
      flex-basis: 200px;
    }

    &__column+&__column {
      margin-left: 10px;
    }

    &__inner {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

@media (max-width: 1270px) {
  .about {
    &__title {
      left: -50px;
    }
  }

  .card-section {
    &__image {
      display: none;
    }

    &__inner {
      max-width: none;
      padding: 55px 0;
      margin: 0;
    }
  }
}

@media (max-width: 1200px){
  .header {

    &__inner {
      min-height: auto;
    }

    &__top {
      margin-bottom: 90px;
    }

    &__body {
      max-width: 440px;
    }

    &__title {
      margin-bottom: 80px;
    }

    &__image {
      top: 0;
      right: -305px;
      width: 800px;
    }

    &__image-background {
      max-width: none;
      top: -20px;
      overflow: hidden;
    }
  }

  .why {

    &__inner {
      width: auto;
      padding: 130px 0 90px;
    }

    &__image {
      display: none;
    }
  }

  .about {
    &__title {
      left: 0;
    }
  }

  .help {
    &__row {
      .help-cards__item {
        flex-basis: 50%;
      }
    }

    &__works-item {

    }
  }

  .footer {
    &__image {
      display: none;
    }

    &__inner {
      justify-content: center;
    }
  }
}

@media (max-width: 960px) {
  .header {
    &__image {
      display: none;
    }
  }

  .why {
    &__inner {
      padding: 110px 0 80px;
    }
  }

  .about {
    &__inner {
      padding-top: 100px;
    }

    &__title {
      position: static;
      margin: 0 0 60px 30px;
    }
  }

  .help-cards {
    &__item {
      height: 300px;
    }
  }

  .help {
    &__grid {
      .help-cards__item {
        flex-basis: 50%;
      }
    }
  }

  .card-section {
    &__title, &__text {
      margin-bottom: 140px;
    }
  }
}

@media (max-width: 760px) {
  .header {
    &::before {
      width: 100%;
    }

    &__inner {
      padding-top: 15px;
    }

    &__top {
      align-items: center;
    }

    .logo, & .contact-button {
      position: relative;
      z-index: -1;
      transition: all .5s;
    }
  }

  .menu {
    position: absolute;
    top: -75px;
    left: 0;
    order: -1;
    width: 100%;
    padding: 15px 0 20px;
    color: #FFFFFF;
    background: #62d0df;
    transition: top .5s;
  }

  .menu__list {
    justify-content: center;
  }

  .menu__list-link--active {
    border-bottom-color: #FFFFFF;
  }

  .menu-button {
    display: block;
    position: relative;
    top: 0;
    width: 24px;
    height: 18px;
    padding: 0;
    border: none;
    background: transparent;
    transition: all .5s;
    cursor: pointer;

    span {
      display: block;
      margin: 0 auto;
      transition: width .5s;
    }
  }

  .menu-button::before {
    top: 0;
  }

  .menu-button::after {
    bottom: 0;
  }

  .menu-button::before,
  .menu-button::after {
    content: '';
    position: absolute;
    left: 0;
    transition: transform .5s;
  }

  .menu-button::before,
  .menu-button::after,
  .menu-button span {
    width: 100%;
    height: 2px;
    background: #62d0df;
  }
  
  .header__top--active {
    .logo {
      color: #FFFFFF;
    }

    .menu {
      top: 0;
    }

    .menu-button {
      top: 70px;

      &::before {
        transform: translateY(8px) rotate(45deg);
      }

      &::after {
        transform: translateY(-8px) rotate(-225deg);
      }

      span {
        width: 0;
      }
    }

    .contact-button {
      background: #FFFFFF;
      color: #62d0df;
    }
  }

  .card-section {
    &__title, &__text {
      margin-bottom: 125px;
    }
  }

  .footer {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__column {
      flex: 1 0 auto;
      width: 200px;
    }

    &__column+&__column {
      margin: 50px 0 0 0;
    }
  }

}

@media (max-width: 480px) {
  .header {
    &__questions-item {
      padding: 14px 23px;
    }
  }

  .help {
    .help-cards__item {
      height: 250px;
    }

    &__grid {
      .help-cards__item {
        flex-basis: 100%;
      }
    }
    &__row {
      .help-cards__item {
        flex-basis: 100%;
      }
    }
  }

  .card-section {
    &__title {
      margin-bottom: 120px;
    }
  }

}