@import 'reset';
@import 'vars';
@import 'fonts';
@import 'global';

.header {
  position: relative;
  overflow: hidden;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: 850px;
    padding: 27px 0 75px;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__body {
    max-width: 490px;
  }

  &__title {
    margin: 40px 0 95px;
    text-transform: uppercase;
    @extend %larsseit-700;
    font-size: 48px;
  }

  &__text {
    margin-bottom: 43px;
  }

  &__questions-item {
    padding: 15px 30px;
    margin-right: 8px;
    text-transform: uppercase;
    @extend %larsseit-700;
    font-size: 16px;
    line-height: 20px;
    color: #FAB63E;
  }

  &__questions-item:first-child {
    background: #F9B640;
    color: #FFF;
  }

  &__image {
    position: absolute;
    top: -53px;
    right: -230px;
    z-index: -1;
  }

  &__image-background {
    position: absolute;
    top: -170px;
    right: -170px;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 78%;
    height: 100%;
    background: #F4F9E2;
    z-index: -3;
  }
}

.logo {
  @extend %larsseit-700;
  line-height: 23px;
  color: #62D0DF;
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item + &__list-item {
    margin-left: 13px;
  }
  
  &__list-link {
    display: block;
    padding: 11px 6px;
    border-bottom: 1px solid transparent;
    line-height: 17px;
    font-size: 14px;

    &--active {
      border-bottom-color: #22356F;
      @extend %larsseit-500;
    }
  }
}

.contact-button {
  padding: 18px 30px;
  border: none;
  border-radius: 25px / 50%;
  text-transform: uppercase;
  @extend %larsseit-700;
  font-size: 14px;
  line-height: 14px;
  background: #62D0DF;
  color: #FFF;
}

@import 'media';